<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="nome">Nome:
    <input type="text" formControlName="name" id="name">
  </label>
  <label for="address">Endereco:
    <input type="text" formControlName="address" id="address">
  </label>
  <button [disabled]="myForm.status != 'VALID'" type="submit">Enviar</button>
</form>
<p>{{ myForm.status }}</p>
<p>{{ myForm.value | json }}</p>
<a [routerLink]="['/page1']" routerLinkActive="active">Page1</a><br>
<a [routerLink]="['/page2/1']" routerLinkActive="active">Page2</a><br>
<a [routerLink]="['/page2/2']" routerLinkActive="active">Page2</a><br>
<button (click)="goToPage2()">Page3</button>
<router-outlet></router-outlet>
